PORT=5050
DB_HOST=db
DB_USER=crmuser
DB_PASSWORD=strongpassword
DB_NAME=manivtha_crm
DB_PORT=3306

JWT_SECRET=your_long_random_jwt_secret_here

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

WHATSAPP_ACCOUNT_SID=
WHATSAPP_AUTH_TOKEN=
WHATSAPP_FROM_NUMBER=
WHATSAPP_TO_NUMBER=

CORS_ORIGIN=http://localhost:5175
NODE_ENV=development

# Bot Username and Sandbox opt-in details
TELEGRAM_BOT_USERNAME=
WHATSAPP_SANDBOX_KEYWORD=
